include ../interviewMixin.pug
+interviewMixin("interviews", interviews)
//- section.interviews
//-     - const value = interviews[0]
//-     img.interviews__svg(src=value.svgs[0].img)
//-     .interviews__container.container
//-         .interviews__slide.grid
//-             .interviews__left 
//-                 each image in value.images 
//-                     .interviews__image(style=`transform:${image.transform}; top:${image.top};left:${image.left};`)
//-                         img.interviews__img(src=image.img) 
//-             .interviews__right
//-                 .interviews__scroll.scroll
//-                     each i in interviews
//-                         .interviews__post(data-post=i.id).interviews__lead.lead!= i.lead 
//-                         each t in i.text
//-                             .interviews__post(data-post=i.id).interviews__text.text!= t